<!DOCTYPE html>
<html>
<head>
	<title>Scrumboard</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
</head>
<body>
	<!--Navbar -->
	<nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background-color:darkblue ;">
		<a class="navbar-brand" href="home">Tobmag1chatscrum</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
			aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/scrumboard/{{project_id}}">
						<i class="fas fa-chalkboard"></i> Scrum Board</a>
						<span class="sr-only">(current)</span>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i> <strong> {{loggedUser.name}},</strong> {{loggedUser.role}} </a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item" href="/changerole/{{project_id}}" id="admin">Change User Role</a>
						<a class="dropdown-item" href="logout">Click To Log out</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!--/.Navbar -->
	
		<!-- <table *ngFor="let participant of pparticipants" class="table">
			<p><strong>{{ participant['user']['nickname'] }}</strong></p>

			<tr>
				<th scope="col">Tasks For The Week</th>
				<th scope="col">Tasks For The Day</th>
				<th scope="col">Verify</th>
				<th scope="col">Done</th>
			</tr>

			<tr>
				<td>
					<div *ngFor="let goal of participant['scrumgoal_set']">
						<div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
							{{ goal['name'] }} <br>
							{{ goal['id'] }}
							<p>status: {{ goal['status'] }}</p>
						</div>
					</div>
				</td>

				<td>
					<div *ngFor="let goal of participant['scrumgoal_set']">
						<div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
							{{ goal['name'] }}<br>
							{{ goal['id'] }}
							<p>status: {{ goal['status'] }}</p>
						</div>
					</div>
				</td>

				<td>
					<div *ngFor="let goal of participant['scrumgoal_set']">
						<div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
							{{ goal['name'] }}<br>
							{{ goal['id'] }}
							<p>status: {{ goal['status'] }}</p>
						</div>
					</div>
				</td>

				<td>
					<div *ngFor="let goal of participant['scrumgoal_set']">
						<div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
							{{ goal['name'] }}<br>
							{{ goal['id'] }}
							<p>status: {{ goal['status'] }}</p>
						</div>
					</div>
				</td>
			</tr>
		</table>-->

	<div class="table mt-3">
		<div class="d-flex mb-3">
			<div class="p-2 w-100">
				<strong>
					<h4>Tasks For The Week</h4>
				</strong>
				<div cdkDropList #tftwList="cdkDropList" [cdkDropListData]="TFTW"
					[cdkDropListConnectedTo]="[tftdList, verifyList, doneList]" class="example-list"
					(cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate0">
					<div class="example-box" *ngFor="let item of TFTW" cdkDrag [cdkDragData]="item">
						{{item[2]}}<br>
						{{item[4]}}<br><br>
					</div>
				</div>
			</div>
		
			<div class="p-2 w-100">
				<strong>
					<h4>Tasks For The Day</h4>
				</strong>
				<div cdkDropList #tftdList="cdkDropList" [cdkDropListData]="TFTD"
					[cdkDropListConnectedTo]="[tftwList, verifyList, doneList]" class="example-list"
					(cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate">
					<div class="example-box" *ngFor="let item of TFTD" cdkDrag [cdkDragData]="item">
						{{item[2]}}<br>
						{{item[4]}}<br><br>
					</div>
				</div>
			</div>
		
			<div class="p-2 w-100">
				<strong>
					<h4>Verified Tasks</h4>
				</strong>
				<div cdkDropList #verifyList="cdkDropList" [cdkDropListData]="verify"
					[cdkDropListConnectedTo]="[tftwList, tftdList, doneList]" class="example-list"
					(cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate1">
					<div class="example-box" *ngFor="let item of verify" cdkDrag [cdkDragData]="item">
						{{item[2]}}<br>
						{{item[4]}}<br><br>
					</div>
				</div>
			</div>
		
			<div class="p-2 w-100">
				<strong>
					<h4>Done Tasks</h4>
				</strong>
				<div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
					[cdkDropListConnectedTo]="[tftwList, tftdList, verifyList, doneList]" class="example-list"
					(cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate2">
					<div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragData]="item">
						{{item[2]}}<br>
						{{item[4]}}<br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div>
		<button id="myBtn">Open Modal</button>
		
		
		<div id="myModal" class="modal">
		
			
			<div class="modal-content">
				<span class="close" id="close">&times;</span>
				<h4>Add A Goal</h4>
				<form #userAddGoalForm = "ngForm" name="userAddGoalForm" novalidate (ngSubmit)="onCreateGoal()">
					<div class="form-group input-group">
						<input type="text" required #name="ngModel" required [class.is-invalid]="name.touched && name.invalid"
							[(ngModel)]="createGoalModel.name" name="name" class="form-control" placeholder="Enter Goal">
						<div class="invalid-feedback">
							Please Enter A Goal
						</div><br>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block"> Create Goal </button>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
	<!-- <script type="text/javascript" lang="javascript">
		var modal = document.getElementById("myModal");

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function () {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function () {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script> -->
	
</body>
</html>